.page {
    margin-top: 50px;
    direction: rtl;
}
.title {
    direction: rtl;
    color: rgb(76, 76, 253);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.card {
    background-color: white;
    margin: 20px;
    padding: 25px;
    border: 3px solid rgb(95, 159, 255);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    direction: rtl;
}
.cards
{ 
    display: grid;
     grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
      margin: 20px;
}
.buttonGroup {
    display: flex;
    justify-content: space-between;
}
.button {
    height: 40px;
    border-radius: 5px;
    background-color: rgb(34, 143, 34);
    color: white;
    padding: 10px;
}