.container {
border: 2px solid  rgb(122, 206, 231);
border-radius: 30px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 2px;
position: relative;
}
.icone {
font-size: 22px;
}
.switcher {
width: 28px;
aspect-ratio: 1/1;
background-color: rgb(122, 206, 231);
border-radius: 50%;
position: absolute;
cursor: pointer;
}