.button {
    background-color: #0a0a5a ;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 45%;
    height: 45px;
    margin-top: 20px;
    border: none;
}
.card{
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.add {
    display: flex;
    justify-content: center;
}
.cardButton{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    height: 45px;
}
.cancelButton{
    background-color: red;
    height: 45px;
    color: white;
    border-radius: 10px;
    text-align: center; 
    padding: 10px;
}